body,
html {
  background: rgb(33, 33, 33);
  color: rgb(230, 230, 230);
  font-family: monospace;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.field {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: minmax(200px, 450px) 300px;
  margin: 5px;
  gap: 5px;
  border-radius: 10px;
  border: 5px solid rgb(0, 0, 0);
  padding: 5px;
}
.field > div {
  font-size: 120%;
  align-self: center;
}
.field input {
  width: 180px;
}

.hide {
  display: none;
}

.messages {
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
  padding: 10px;
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}
.messages > div {
  flex-shrink: 0;
  white-space: pre-line;
  margin: 3px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.disclaimer {
  color: rgb(200, 200, 200);
  margin: 5px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.disclaimer b {
  margin: 5px 0;
}

.remark {
  margin: 5px;
}

pre {
  background-color: rgb(10, 10, 10);
  border-radius: 5px;
  margin: 5px 0;
}